<h1>
    {{title}}
</h1>
<div>
    <input type="text" #itemTitle />
</div>
<button (click)="addListItem(itemTitle)">ADD</button>
<div class="row">
    <div class="col-md-8">
        <h3>MAIN LIST</h3>
        <app-list [items]="listItems">
        </app-list>
    </div>
    <div class="col-md-4">
        <h3>DETAILS</h3>
        <div *ngIf="(selectedItem | async)?.itemName">
            <app-item-detail [item]="(selectedItem | async)"
                (onAddItemData)="addDataToItem($event)"></app-item-detail>
        </div>
    </div>
</div>